<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Udacity Projects</title>
    <link href="main.css" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <b>Udacity Projects: Analyze Article with Aylien API</b>
        </div>
    </header>
    <main>

        <section>
            <form>
                <input id="name" name="input"  type="url" value="" type="url" placeholder="Put in the URL of any article in the Internet :)" >

                <button onclick="return Client.whenSubmit(event)">Watch the Magic!</button>
            </form>
            <section id="dataRe">
              <h1 id="notValid"></h1>
                <strong>The Outcome:</strong>
                <div>
                    <ul>
                        <li>
                            <h1>Text Polarity:</h1>
                            <p id="pol"></p>
                            <h1>Confidence:</h1>
                            <p id="polcon"></p>
                        </li>
                        <li>
                            <h1>Subjectivity:</h1>
                            <p id="sub"></p>
                            <h1>Subjectivity Confidence:</h1>
                            <p id="subcon"></p>
                        </li>
                        <li>
                            <h1>The Article Extracted:</h1>
                            <p id="orURL"></p>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </main>
    <script>
      //Here is the Service Worker!
      if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(registration => {
                    console.log('SW registered: ', registration);
                });
            });
        } else {
            console.log("Service Working not working");
        }
    </script>
    <footer>
        <p>Project Created for the Udacity FEND &copy; 2019</p>
    </footer>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>