<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Weather Journal</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link href="main.css" rel="stylesheet">
</head>
<body>

  <div id="app">
    <div class="holder headline">
      Weather Journal App
    </div>
    <div class="holder zip">
      <label for="zip">Enter Zipcode here</label>
      <input type="text" id="input1" placeholder="enter zip code here">
    </div>
    <div class="holder feel">
     
    <button onclick="Client.geoClick()" id="generate1" type="submit"> Generate 1</button>
    <button onclick="Client.weaClick()" id="generate2" type="submit"> Generate 2</button>
    <button onclick="Client.pixClick()" id="generate3" type="submit"> Generate 3</button>

   
      <input id="input2"
             placeholder="dd/mm/yyyy"
             type="date">

      <input id="input3"
             placeholder="dd/mm/yyyy"
             type="date">
   
  
    </div>
    <div class="holder entry">
      <div class="title">Most Recent Entry</div>
      <div id="entryHolder">
        <p style="display: none;" id="lat"></p>
        <p style="display: none;" id="lon"></p>
        <p style="display: none;" id="place"></p>
<p id="countdown"></p>
<p id="LoT"></p>

<div id="maxtemp"></div>
        <div id="mintemp"></div>
        <div id="precip"></div>

    <img id="imagep" style="border: 3px solid olivedrab;">
    
      </div>
    </div>
  </div>

  <script type="text/javascript" src="main.js"></script></body>

</html>