

$teal: #028482;
$purp: #B76EB8;
$green: #7ABA7A;




form {
    border: 3px groove $green;
    border-radius: 10px;
    padding: 40px;
}



input {
    padding: 5px 20px;
    width: 300px;
    line-height: 16px;
    margin: 10px 0;
border: none;
}


input {
    &:hover {background-color: $purp; color: #fff;}
  }
