
$teal: #028482;
$purp: #B76EB8;
$green: #7ABA7A;

body{
    background: rgb(75, 75, 75);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(40px, auto);
    /* grid-template-columns:  */
    height:100vh;
    color: rgb(255, 255, 255);
    justify-content: center;
    grid-gap: 1em;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.holder{
width:auto;
    justify-content: center;
    margin:30px;

}

.entry{
    background: $teal;
height: auto;
font-size: 20px;
}



.headline {
margin-bottom: 20px;;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:$teal;
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: auto;
    height: 50px;
    background: #7ABA7A;
    color: #FFFFFF;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px $purp;
}

h1{
    font-size: 36px;
}

textarea{
    background:$purp;
    color: #1C263C;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #1C263C; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #1C263C; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #1C263C; 
    font-family: 'Oswald', sans-serif;

} 



.int {
    margin:0px 0px 20px 0px;
    display: flex;
    background-color: #CCCC66;
    height: 700px;
    padding: 20px;
    }
    
    
    
    .intimg {
    box-shadow: 15px 15px #990000;
    height:500px;
    width:500px;
    
    }
    

    #introd {
        color: #990000;
        margin:18px;
        font-size: 20px;
          text-decoration: underline;
        }
          

.generate1 {


&:hover {
background-color:#48ad48 ;

}
    
}

    .intp {
  
        font-family: 'Comfortaa', cursive;
        
        }
        
        
        .blogt {
            font-family: 'Teko', sans-serif;
            font-size: 35px;
            text-decoration: underline;
            }
        
        
        .intc {
        width: auto;
        }


 
        @media (max-width: 600px) {
        
        .holder {


            
        }
            .intimg {
                height:200px;
                width:200px;
                }
                .int {
                -webkit-flex-direction: column;
                flex-direction: column;
                padding: auto;
                width:100%;
                
                }

                .blogt {
  
                    font-size: 27px;
                    
                    }
                  
                  #imagep {
height: 200px;
width: auto;;
                  }  

        }